.mainContainer{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.DisplayContentContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /*border: 2px solid yellow;*/
    overflow-x: hidden;
    overflow-y: auto;
}