.AccorCls{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto;
    padding: 5px;
    gap: 10px;
}
.Item > input{
    display: none;
}
:host{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    /*border: 2px solid red;*/
}
:host{
    width: 100%;
    max-height: calc( 100vw / 20 );
    min-height: calc( 100vw / 20 );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease;
    transition-delay: 0s;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.Item{
    width: 100%;
    max-height: calc( 100vw / 20 );
    min-height: calc( 100vw / 20 );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease;
    transition-delay: 0s;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.Item > label{
    width: 100%;
    min-height: calc( 100vw / 20 );
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: lightgray;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 2vw;
    color: white;
    padding: 5px;
    border-left: 0px solid red;
    position: relative;
}
.Item:has(input:checked){
    max-height: 100%;
    min-height: 100%;
    transition: 0.5s ease-in !important;
    transition-delay: 0.5s !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
:host:has(.Item > input:checked){
    max-height: 50%;
    min-height: 50%;
    transition: 0.5s ease-in !important;
    transition-delay: 0.5s !important;
}
.Item:has(input:checked) > label{
    background-color: gray;
    border-left: 10px solid red;
}
.Description{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    text-align: justify;
}
.roll{
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    transition: 0.5s;
    transform: rotateZ(0deg);
}
.Item:has(input:checked) > label > .roll{
    transform: rotateZ(90deg);
}