:root {
  --colorV: black;
}
.NavContainer{
    width: 15vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    z-index: 150;
}
.SpandNavContainer{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*border: 2px solid green;*/
    transition: 0.5s;
    overflow: hidden;
}
.SpandNavContainer:hover{
    width: calc(15vh * 4);
}
.liSetContainer{
    width: 100%;
    height: fit-content;
    /*border: 2px solid red;*/
}
.liSetContainer > li{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}
.liSetContainer > li > a{
    text-decoration: none;
    z-index: 3;
    text-transform: capitalize;
    font-family: Arial;
    color: white;
    transition: 0.5s;
}
.liSetContainer > li.SelectedPage > a{
    color: black;
}
.IconLi{
    height: 15vh;
    aspect-ratio: 1/1;
    /*border: 2px solid white;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.IconLi > img{
    height: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    filter: invert(1);
    transition: inherit;
}
li:hover > .IconLi,li.SelectedPage > .IconLi{
    /*background-color: white;*/
}
li.SelectedPage > .IconLi > img{
    filter: invert(0);
}
.Marker{
    position: absolute;
    width: 100%;
    height: 15vh;
    /*border: 2px solid red;*/
    transform: translateY(0);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.MarkerBody{
    width: calc(100% - (15vh / 2));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: red;
}
.MarkerBody.black > .t::before,.MarkerBody.black > .b::before{
    background-color: white !important;
}
.markerHead{
    height: 100%;
    aspect-ratio: 1/1;
    left: 0px;
    position: absolute;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: red;
}
.MarkerBody > .t{
    position: absolute;
    height: calc(15vh / 2);
    aspect-ratio: 1/1;
    top: 0px;
    right: 0px;
    transform: translateY(-95%);
    background-color: red;
    border-bottom: 1px solid red;
}
.MarkerBody > .t::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 100%;
    background-color: black;
    transform: translateY(-4%);
    transition: 0.5s;
}
.MarkerBody > .b{
    position: absolute;
    height: calc(15vh / 2);
    aspect-ratio: 1/1;
    bottom: 0px;
    right: 0px;
    transform: translateY(95%);
    border-top: 1px solid red;
    background-color: red;
}
.MarkerBody > .b::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-right-radius: 100%;
    transform: translateY(4%);
    background-color: black;
    transition: 0.5s;
}

.liSetContainer:has(li:nth-of-type(1).SelectedPage) > .Marker{
    transform: translateY(0);
}
.liSetContainer:has(li:nth-of-type(2).SelectedPage) > .Marker{
    transform: translateY(calc(100% * 1));
}
.liSetContainer:has(li:nth-of-type(3).SelectedPage) > .Marker{
    transform: translateY(calc(100% * 2));
}
/*------------------------------------------------------------------------------------*/
.TitleNavCon{
    height: 15vh;
    width: 100%;
    /*border: 2px solid purple;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: calc(15vh / 2);
}
.IconImg{
    /*height: 15vh;*/
    aspect-ratio: 1/1;
    /*border: 2px solid white;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    height: 100%;
}
.IconImg > img{
    height: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    filter: invert(1);
}
.TNVContent{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    /*border: 2px solid yellow;*/
}
.TNVContent > span:nth-of-type(1){
    white-space: nowrap;
    color: white;
    font-size: 5vh;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial;
}
.TNVContent > span:nth-of-type(2){
    white-space: nowrap;
    color: white;
    font-size: 2vh;
    text-transform: capitalize;
    font-family: Arial;
    opacity: 0.5;
}
.FootCon{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FooterNav{
    margin-top: auto;
    bottom: 0px;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}