:host{
    height: 100%;
    width: 30%;
    overflow: hidden;
    padding: 15px;
}
.CardCon{
    height: 90%;
    aspect-ratio: 1/1;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 2vw;
    position: relative;
    background-color: white;
}
.mainC{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom-right-radius: 80%;
    background-color: black;
    overflow: hidden;
}
.topDetail{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topDetail::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: calc(100% - 30vh);
    background-color: black;
}
.InconC{
    height: 20vh;
    aspect-ratio: 1/1;
    top: 0px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.InconC > img{
    height: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.InconC::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-top-left-radius: 100%;
    height: 51%;
    aspect-ratio: 1/1;
}
.ConInfo{
    height: 50%;
    width: 70%;
    /*border: 2px solid red;*/
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SwitcherCon{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid green;*/
    padding: 5px;
    position: relative;
}
.SwitcherCon > input{
    display: none;
}
.SwitcherCon > .Switcher{
    position: relative;
    width: 100%;
    aspect-ratio: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    background-color: white;

    transition: 0.5s;
}
.SwitcherCon > .Switcher::before{
    content: "";
    position: absolute;
    top: calc(0px + 1%);
    width: 90%;
    background-color: black;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateY(0);
}
.SwitcherCon:has(input:checked) > .Switcher::before{
    transform: translateY(-100%);
    top: calc(100% - 1%);
}
.SwitcherCon:has(input:checked)~.TxtContent>p:nth-of-type(1),
.SwitcherCon:has(input:not(:checked))~.TxtContent>p:nth-of-type(2){
    display: flex;
    animation-name: anim1;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes anim1 {
    from{
        transform: translateY(100%);
        filter: blur(5px);
        opacity: 0;
    }to{
        transform: translateY(20%);
        filter: blur(0px);
        opacity: 1;
    }
}

.TxtContent{
    height: 100%;
    width: 80%;
    /*border: 2px solid yellow;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    overflow: hidden;
}
.TxtContent > p{
    display: none;
    color: white;
    font-family: Arial;
    text-align: justify;
    width: 100%;
    font-size: 1vw;
}
.CardTitle{
    font-size: 2vw;
    font-family: Arial;
    text-transform: uppercase;
    color: white;
    position: absolute;
    z-index: 10;
    right: 0px;
    padding-right: 10px;
}