<div class="CardCon">
    <div class="topDetail">
        <div class="InconC">
            <img src="/static/icon/setting.png" />
        </div>
        <p class="CardTitle">title01</p>
    </div>
    <div class="mainC">
        <div class="ConInfo">
            <label class="SwitcherCon" for="Card2InputID1" style="display: none;">
                <input id="Card2InputID1" type="checkbox" />
                <div class="Switcher">

                </div>
            </label>
            <div class="TxtContent">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quod cupiditate repellendus facere eos? Amet, omnis nam,
                    voluptatum eum maxime natus laudantium suscipit</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quod cupiditate repellendus facere eos? Amet, omnis nam,
                    voluptatum eum maxime natus laudantium suscipit</p>
            </div>
        </div>
    </div>
</div>