:host,.HomeMainContainer{
    width: 100%;
    height: fit-content;
    /*border: 2px solid purple;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    transition: 0.5s;
}
.AccorCls{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto;
    padding: 5px;
    gap: 10px;
}