:host{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid yellow;*/
    flex-direction: column;
}
.NavCon {
    width: 100%;
    height: 10vh;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
}

.NavCon>ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.NavCon>ul>li {
    width: calc((100% / 2) / 3);
    height: 100%;
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.NavCon>ul>li>a {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2vw;
    z-index: 100;
    cursor: pointer;
}

.Con {
    margin-top: -10vh;
    width: 100%;
    height: 100vh;
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    position: relative;
}

.thumbCon {
    min-width: 50%;
    max-width: 50%;
    margin-left: auto;
    margin-top: auto;
    height: 50%;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*border: 2px solid green;*/
    gap: 3%;
    z-index: 5;
}

.thumbCon>.Item {
    width: 30%;
    height: 100%;
    border-radius: 15px;
    /*border: 2px solid yellow;*/
    display: flex;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.ElementDisplay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: red;
    overflow: hidden;
}

.ElementDisplay>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.showElmt {
    top: 50%;
    left: 50%;
    width: calc(50% / 3);
    height: 50%;
    animation-name: anim1;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    filter: brightness(1);
    /*z-index: 26;*/
}

@keyframes anim1 {
    from {
        top: 50%;
        left: 50%;
        width: calc(50% / 3);
        height: 50%;
        filter: brightness(1);
    }

    to {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: gray;
        filter: brightness(0.6);
    }
}

.execOnce {
    width: 0px;
    animation-name: anim2;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes anim2 {
    from {
        width: 0px;
    }

    to {
        width: 30% !important;
    }
}

.desloc {
    animation-name: anim3;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    margin-right: 0%;
}

/*
        .desloc > .Item{
            border: 2px solid purple !important;
        }*/
@keyframes anim3 {
    from {
        margin-right: 0%;
    }

    to {
        margin-right: calc(50% / 3);
    }
}

/*
        .thumbCon.desloc > .Item{
            position: static;
        }
        .thumbCon.desloc > .Item > .ElementDisplay{
            top: 50%;
            left: 50%;
            width: calc(50% / 3);
            height: 50%;
            animation-name: anim1;
            animation-delay: 0s;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }*/
.sideBtnProg{
    width: 50%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    left: 0px;
    bottom: 15%;
    /*----Z-INDEX*/
    z-index: 60;
}
.ButtonBar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ButtonBar>button {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: white;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    font-size: 4vw;
    opacity: 0.5;
    transition: 0.5s;
}
.sideBtnProg > progress{
    min-height: 10%;
    width: 100%;
    padding-inline: 20%;
    transition: 0.5s;
}
.sideBtnProg > progress::-webkit-progress-bar {
    background-color:black;
  }

.sideBtnProg > progress::-webkit-progress-value {
    background-color: white;
}
.progressBCon{
    min-height: 10%;
    width: 100%;
    padding-inline: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.progressB{
    min-height: 20%;
    background-color: white;
    transition: 0.5s;
    width: 0px;
}

.ButtonBar>button:hover {
    opacity: 1;

}

/*------------------------------------------------------------------*/
.showElmtReverse {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation-name: anim4;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    border-radius: 0px;
    filter:brightness(0.6);
}

@keyframes anim4 {
    from {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: gray;
        border-radius: 0px;
        filter:brightness(0.6);
    }

    to {
        top: 50%;
        left: 50%;
        width: calc((50% / 3.45));
        height: 50%;
        border-radius: 15px;
        filter:brightness(1);
    }
}

.deslocReverse {
    animation-name: anim5;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    margin-right: calc(50% / 3);
}

@keyframes anim5 {
    from {
        margin-right: calc(50% / 3);
    }

    to {
        margin-right: 0%;
    }
}

/*---------------------------------------*/
.mainContent {
    width: 100%;
    height: 100%;
    background-color: orange;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.mainContent>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
}

/*------------------------------------------------*/
.ContentCard {
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
    left: 0px;
}

.ContentCard>img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ContentCard>p {
    position: absolute;
    left: 5px;
    font-size: 1.5vw;
    color: white;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 25;
}

.Item:has(.showElmtReverse)>.ContentCard,
.Item:has(.showElmt)>.ContentCard {
    z-index: -1;
}

/*
        .thumbCon > .Item:nth-child(1):not(.showElmtReverse) > .ContentCard,
        .thumbCon > .Item:nth-child(1):not(.showElmt) > .ContentCard{
            animation: animt;
            animation-delay: 0s;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            opacity: 0;
        }
        .thumbCon > .Item:nth-last-child(1):not(.showElmtReverse) > .ContentCard,
        .thumbCon > .Item:nth-last-child(1):not(.showElmt) > .ContentCard{
            animation: animt;
            animation-delay: 0s;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            opacity: 0;
        }
        @keyframes animt {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }*/

.MainCDisp{
    width: 50%;
    height: 40%;
    position: absolute;
    left: 0px;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red;*/
}
.MainCDispContent{
    width: 60%;
    height: 100%;
    /*border: 2px solid green;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.MainCDispContent > h3{
    font-size: 5vw;
    text-transform: uppercase;
    font-family: Arial;
    text-align: left;
    width: 100%;
    color: white;
}
.MainCDispContent > p{
    text-align: justify;
    color: white;
}
.MainCDCAnim{
    animation-name: animDisplatContent;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    opacity: 0;
    transform: translateY(20%);
    filter: blur(5px);
}
@keyframes animDisplatContent {
    from{
        opacity: 0;
        transform: translateY(20%);
        filter: blur(5px);
    }to{
        opacity: 1;
        transform: translateY(0%);
        filter: blur(0px);
    }
}