
:host,.MainC{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red;*/
}
.content{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /*border: 2px solid yellow;*/
    position: relative;
}

.content > .ItemCon:nth-child(odd) > .ItemD{
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.content > .ItemCon:nth-child(even) > .ItemD{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.ItemCon{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.ItemD{
    height: 100%;
    aspect-ratio: 1/1;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}