:host,
.PgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red;*/
}

.frmCls {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);*/
    flex-direction: column;
    overflow: hidden;
}
.inputC {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.frmCls > form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}*/
/*.MainContent {
    width: 100%;
    height: 50%;
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.MainContent>input {
    width: 100%;
    height: 100%;
    border-radius: 5vw;
    background-color: lightgray;
    padding: 15px;
    outline: none;
    font-size: 1.5vw;
}

.MainContent>label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 2vw;
    color: white;
    font-family: Arial;
    text-transform: uppercase;
    transition: 0.5s;
}

.MainContent:has(input:focus)>label,
.MainContent:has(input:not(:placeholder-shown))>label {
    top: 0px;
    transform: translateY(10%);
    font-size: 0.7vw;
    color: black;
}

.Msg {
    width: 100%;
    height: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 1vw;
    font-family: Arial;
    color: white;
    font-weight: bolder;
}
.inputC {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.ProGressInfoCon {
    width: 100%;
    min-height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid blue;*/
}
/*
.formMainC{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formMainC > form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}*/
/*------------------------------------------------------------------------------------------*/
form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid yellow;*/
    flex-direction: column;
}
.formMainCSlider{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s;
    flex-shrink: 10;
    /*border: 2px solid orange;*/
}
.formMainC {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /*border: 2px solid orange;*/
    overflow: hidden;
}
.sideProgress {
    width: fit-content;
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.FieldsC{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid green;*/
    padding: 5px;
    flex-direction: column;
}
.btnCon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 10vh;
}

.maindtFieldC{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.sideContent{
    height: 100%;
    width: 30%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}
.Msg {
    width: 100%;
    padding: 5px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 1vw;
    font-family: Arial;
    color: white;
    font-weight: bolder;
}
.ageCls{
    color: white;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 2.5vw;
}
.btn{
    height: 90%;
    width: 25%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.btn > *{
    z-index: 1;
    transition: inherit;
}
.btn::before{
    content: "";
    height: 0%;
    width: 100%;
    bottom: 0px;
    position: absolute;
    left: 0;
    background-color: red;
    border-radius: 50% 50% 0 0;
    z-index: 0;
    transition: 0.5s;
}
.btn:hover > p{
    color: white;
}
.btn:hover:before{
    height: 200%;
}