:host,.ContentI2S{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ContentI2S{
    flex-direction: column;
}
.ContentI2S > div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid yellow;*/
}