:host{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SwitcherContainer{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainC{
    height: 70%;
    aspect-ratio: 0.6/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50vw;
    position: relative;
    background-color: black;
    transition: 0.5s;
    overflow: hidden;
}
.mainC:has(input:checked){
    background-color: orange;
}
.mainC:has(input:not(:checked)){
    background-color: #14045f;
}
.mainC:has(input:checked) > .frameCirc{
    transform: translateY(-50%) rotateZ(0deg);
}
.mainC:has(input:not(:checked)) > .frameCirc{
    transform: translateY(-50%) rotateZ(180deg);
}
.mainC > input{
    display: none;
}
.frameCirc{
    top: 100%;
    transform: translateY(-50%);
    position: absolute;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    /*border: 2px solid black;*/
    border-radius: 50%;
    transition: 1s;
}
.FrameItem{
    width: 20%;
    aspect-ratio: 1/1;
    /*border: 1px solid black;*/
    position: relative;
}
.MoonC{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    transform: translateY(50%);
    border-radius: 50%;
    z-index: 10;
}
.sunC{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    margin-top: 0px;
    margin-bottom: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 10;
}
.sunC::after,
.sunC::before{
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    background-color: #f7f7de;
    border-radius: 50%;
}
.sunC::after{
    z-index: 0;
    width: 130%;
    opacity: 0.5;
}
.sunC::before{
    z-index: 0;
    width: 170%;
    opacity: 0.3;
}

.Sun{
    position: absolute;
    background-color: #f7f7de;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
}
.Sray1 {
  background-color: rgba(255, 255, 255, 0.3);
  height: 60%;
  width: 220%;
  left: 50%;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  transform: rotateZ(220deg);
  transform-origin: 0px 50%;
  position: absolute;
}
.Sray2 {
  background-color: rgba(255, 255, 255, 0.3);
  height: 60%;
  width: 220%;
  left: 50%;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  transform: rotateZ(320deg);
  transform-origin: 0px 50%;
  position: absolute;
}
.Sray3 {
  background-color: rgba(255, 255, 255, 0.3);
  height: 20%;
  width: 220%;
  left: 50%;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  transform: rotateZ(170deg);
  transform-origin: 0px 50%;
  position: absolute;
}
.Sray4 {
  background-color: rgba(255, 255, 255, 0.3);
  height: 20%;
  width: 220%;
  left: 50%;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  transform: rotateZ(10deg);
  transform-origin: 0px 50%;
  position: absolute;
}
.Moon{
    background-color: white !important;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}