:host,.progCon{
    width: 100%;
    height: 100%;
    /*border: 2px solid purple;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ItemCon{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid gray;*/
    position: relative;
}
.ItemCon:not(:nth-of-type(1))::before{
    content: "";
    width: 0%;
    position: absolute;
    height: 2px;
    top: -50%;

    transform: translateX(50%) rotateZ(90deg);
    transform-origin: 0px 50%;
    height: 1vh;
    background-color: lightgray;
    transition: 0.5s;
}
.ItemCon:not(:nth-of-type(1)).active::before{
    width: 15vh;
    background-color: red;
}
.ItemCon.active > .circ{
    background-color: red !important;
}
.ItemCon > .circ{
    height: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: lightgray;
    z-index: 2;
    transition: 0.5s;
}