:host,.FieldCon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.FieldCon{
    /*border: 2px solid red;*/
    gap: 5px;
}
.MainContent{
    width: 100%;
    height: 50%;
    /*border: 2px solid yellow;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.MainContent > input{
    width: 100%;
    height: 100%;
    border-radius: 5vw;
    background-color: lightgray;
    padding: 15px;
    outline: none;
    font-size: 1.5vw;
}
.MainContent > label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 2vw;
    color: white;
    font-family: Arial;
    text-transform: uppercase;
    transition: 0.5s;
}
.MainContent:has(input:focus) > label,.MainContent:has(input:not(:placeholder-shown)) > label{
    top: 0px;
    transform: translateY(10%);
    font-size: 0.7vw;
    color: black;
}
.Msg{
    width: 100%;
    height: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 1vw;
    font-family: Arial;
    color: white;
    font-weight: bolder;
}