:host,.Page1Main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Page2Con{
    width: 80%;
    height: 80%;
    /*border: 2px solid yellow;*/
    display: flex;
    align-items: center;
    justify-content: center;
}