<div class="mainC">
    <div class="CalendarCon">
        <div class="YearCon">
            <div class="YearMC">
                <p class="YearData"></p>
                <div class="YbtnCon">
                    <button (click)="switchYear(1)">&uarr;</button>
                    <button (click)="switchYear(-1)">&darr;</button>
                </div>
            </div>
        </div>
        <div class="MonthCon">
            <button class="btn l" (click)="switchMonth(-1)">&lt;</button>
            <p></p>
            <button class="btn r" (click)="switchMonth(1)">&gt;</button>
        </div>
        <div class="weekDaysName">
        </div>
        <div class="DaysCon">

        </div>
    </div>
</div>